[user]
	email = soenke.huster@eknoes.de
	name = Soenke Huster
	signingkey = soenke.huster@eknoes.de
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[alias]
	showtrackedignored = ls-files -i --exclude-standard
[init]
	defaultBranch = main
[sendemail]
	smtpserver = giacobini.uberspace.de.
	smtpuser = soenke.huster@eknoes.de
	smtpencryption = tls
	smtpserverport = 587

[merge]
	ff = only

[sendemail.linux]
    tocmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nol"
    cccmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nom"
[color]
	ui = auto
